body {
  width: 300px;
  font-family: sans-serif;
}

h1 {
  font-size: 18px;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#summary {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
